# Core ML & Data
pandas
numpy
scikit-learn
xgboost
yfinance
matplotlib
plotly
seaborn
#torch
#torchinfo

# MLflow tracking
#mlflow

# Backend API
fastapi
uvicorn
pydantic

# Monitoring
prometheus_client
prometheus-fastapi-instrumentator


# Scheduling (for drift detection or feedback-based retraining)
schedule

# Serialization
joblib

# Environment config for dev mode
python-dotenv

streamlit
# For pipeline versioning
#dvc